<h3 class="content-block"><span>{{categorySlug}}</span> Category</h3>

<dx-data-grid class="dx-card wide-card"
  (onSelectionChanged)="selectMovie($event);"
  (click)="togglePopup()"
  [dataSource]="filteredMovies"
  keyExpr="name"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-selection mode="single"></dxo-selection>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="name"
    caption="Name">
  </dxi-column>
  <dxi-column
    dataField="category"
    caption="Category">
  </dxi-column>
  <dxi-column
    dataField="length"
    caption="Length">
  </dxi-column>

</dx-data-grid>

@if (selectedMovie) {
<dx-popup
    [height]="500"
    [width]="500"
    [resizeEnabled]="true"
    [(visible)]="isPopupVisible"
    [hideOnOutsideClick]="true"
    [showTitle]="true"
    title="{{selectedMovie.name}}"
    [showCloseButton]="true">

    <p>Actors List:</p>

    <dx-data-grid class="dx-card wide-card"
      [dataSource]="actors"
      keyExpr="name"
      [showBorders]="false"
      [focusedRowEnabled]="true"
      [focusedRowIndex]="0"
      [columnAutoWidth]="true"
      [columnHidingEnabled]="true">

    <dxo-selection mode="single"></dxo-selection>

    <dxi-column
      dataField="name"
      caption="Name">
    </dxi-column>
    <dxi-column
      dataField="age"
      caption="Age">
    </dxi-column>
    <dxi-column
      dataField="gender"
      caption="Gender">
    </dxi-column>

  </dx-data-grid>
</dx-popup>
}
